body {
    background-color: black;
    display: flex;
    align-items: center;
    margin: 40px;
    flex-direction: column;
}

button {
    background-color: green;
    border: none;
    border-radius: 4px;
    padding: 4px 12px;
    color: white;
    font-size: 16px;
}

.reset {
    background-color: red;
}

button:hover {
    background-color: rgb(0, 180, 0);
    cursor: pointer;
    transition: 0.3s ;
}

.reset:hover {
    background-color: #ff5252;
    transition: 0.3s;
}

h1 {
    font-size: 64px;
    color: white;
}
